body {
  margin: 0;
  background: #000;
  color: #fff;
  cursor: default;
  user-select: none;
  overflow: hidden;
  font-family: monospace;
}

canvas {
  vertical-align: middle;
}

#credits, #info {
  position: absolute;
  bottom: 1rem;
  opacity: 0.3;
}

#credits {
  left: 1rem;
}

#credits > a {
  color: inherit;
}

#info {
  right: 1rem;
  text-align: right;
}

#error {
  position: absolute;
  background: rgba(0, 0, 0, .5);
  padding: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

#mount {
  width: 100vw;
  height: 100vh;
}

#support.supported {
  color: #3f3;
}

#support.unsupported {
  color: #f33;
}
