{
  "root": true,
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "no-bitwise": 0,
    "no-console": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0
  }
}
